<% field_name = local_assigns.fetch(:field_name, "card[collection_id]") %>
<% name_field_name = local_assigns.fetch(:name_field_name, "card[collection_name]") %>
<% initial_id = local_assigns.fetch(:initial_id, card.collection_id) %>
<% initial_name = local_assigns.fetch(:initial_name, card.collection&.name.to_s) %>
<% initial_collection = { id: initial_id, name: initial_name, colour: card.collection&.colour }.compact %>
<% dialog_id = dom_id(card, :tags_picker_dialog) %>
<% search_id = dom_id(card, :tags_picker_search) %>
<div class="tags-picker"
     data-controller="tags-picker dialog combobox"
     data-tags-picker-collection-value="<%= initial_collection.to_json %>">
  <button
    type="button"
    class="button-secondary tags-picker--trigger tags-picker--trigger-composer"
    commandfor="<%= dialog_id %>"
    command="show-modal"
    data-action="click->tags-picker#reset"
    >
    <i class="icon tags-picker--trigger-icon" style="--icon-mask: var(--icon-tag)" aria-hidden="true"></i>
    <span data-tags-picker-target="triggerText">Collection</span>
  </button>
  <input type="hidden" name="<%= field_name %>" value="<%= initial_id %>" data-tags-picker-target="hiddenId">
  <input type="hidden" name="<%= name_field_name %>" value="<%= initial_name %>" data-tags-picker-target="hiddenName">
  <dialog
    id="<%= dialog_id %>"
    class="dialog"
    data-dialog-target="dialog"
    data-action="click->dialog#backdropHide"
    >
    <div class="tags-picker--body">
      <p class="tags-picker--title">Collection picker</p>
      <input
        type="search"
        id="<%= search_id %>"
        class="form-input"
        autocomplete="off"
        placeholder="Search collections"
        data-tags-picker-target="search"
        data-combobox-target="input"
        data-action="input->tags-picker#search keydown->combobox#navigate keydown->tags-picker#submitOnEnter"
        >
      <ul class="tags-picker--suggestions"
          role="listbox"
          data-tags-picker-target="suggestions"></ul>
      <button type="button"
              class="button-secondary tags-picker--clear"
              data-action="click->tags-picker#clear"
              data-tags-picker-target="clearButton"
              <%= "disabled" if initial_name.blank? %>>Clear collection</button>
    </div>
  </dialog>
</div>
