<% content_for(:title) { @card.name } %>
<article class="card-show">
  <header class="card-show-header">
    <div class="card-show-meta">
      <span class="card-type"><%= @card.name %></span>
    </div>
    <% if @card.collection.present? %>
      <div class="card-tags">
        <span class="pill" style="background: <%= @card.collection.colour_bg_variable %>"><%= @card.collection.name %></span>
      </div>
    <% end %>
  </header>
  <div class="card-show-body">
    <%= @card.content %>
  </div>
  <footer class="card-show-footer">
    <time class="card-show-date"><%= @card.created_at.strftime("%-d %b %Y") %></time>
  </footer>
</article>
