<% content_for(:title) { @bullet.name } %>
<article class="bullet-show">
  <header class="bullet-show-header">
    <div class="bullet-show-meta">
      <span class="bullet-type"><%= @bullet.name %></span>
    </div>
    <% if @bullet.project.present? %>
      <div class="bullet-tags">
        <span class="pill" style="background: <%= @bullet.project.colour_bg_variable %>"><%= @bullet.project.name %></span>
      </div>
    <% end %>
  </header>
  <div class="bullet-show-body">
    <%= @bullet.content %>
  </div>
  <footer class="bullet-show-footer">
    <time class="bullet-show-date"><%= @bullet.created_at.strftime("%-d %b %Y") %></time>
  </footer>
</article>
