<div id="<%= dom_id(bullet) %>" class="bullet triage-bullet triage-bullet--event">
  <%= render "bullets/action", bullet: bullet %>
  <div class="bullet-body">
    <% postponed = bullet.scheduled_on.present? && bullet.scheduled_on > (@selected_date || Date.current) %>
    <%= bullet.content %>
    <% if bullet.project.present? || postponed %>
      <div class="bullet-tags">
        <% if postponed %>
          <span class="pill pill--date pill--migrated">Postponed to <%= bullet.scheduled_on.strftime("%-d %b %Y") %></span>
        <% end %>
        <% if bullet.project.present? %>
          <span class="pill" style="background: <%= bullet.project.colour_bg_variable %>"><%= bullet.project.name %></span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<%= render "triage/actions", bullet: bullet %>
