<div id="<%= dom_id(card) %>" class="card triage-card triage-card--task <%= "triage-card--completed" if card.done %>">
  <%= render "cards/action", card: card %>
  <div class="card-body">
    <%= card.content %>
    <% if card.collection.present? %>
      <div class="card-tags">
        <span class="pill" style="background: <%= card.collection.colour_bg_variable %>"><%= card.collection.name %></span>
      </div>
    <% end %>
  </div>
</div>
<% unless card.done %>
  <%= render "triage/actions", card: card %>
<% end %>
