<%= form_with model: stream do |f| %>
  <% if stream.errors.any? %>
    <div style="color:red;">
      <ul>
        <% stream.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
  </div>

  <div>
    <label>Icon</label>
    <div class="icon-picker">
      <label class="icon-option">
        <%= f.radio_button :icon, "", checked: stream.icon.blank? %>
        <span class="icon-option__label">None</span>
      </label>
      <% Iconable::ICON_KEYS.each do |key| %>
        <label class="icon-option">
          <%= f.radio_button :icon, key %>
          <i class="icon" style="--icon-mask: var(--icon-<%= key %>)" aria-hidden="true"></i>
        </label>
      <% end %>
    </div>
  </div>

  <div>
    <label>Colour</label>
    <div class="colour-picker colour-picker--form">
      <label class="colour-option">
        <%= f.radio_button :colour, "", checked: stream.colour.blank? %>
        <span class="colour-option__label">None</span>
      </label>
      <% Colourable::COLOUR_KEYS.each do |key| %>
        <label class="colour-option">
          <%= f.radio_button :colour, key %>
          <span class="colour-option__swatch" style="background: var(--model-color-<%= key %>);"></span>
        </label>
      <% end %>
    </div>
  </div>

  <div>
    <label>Card type</label>
    <div class="flex slightly-gapped" style="flex-wrap: wrap">
      <%= label_tag nil do %>
        <%= radio_button_tag "stream[cardable_type]", "", stream.cardable_type.blank? %>
        All
      <% end %>
      <% Card.cardable_types.each do |type| %>
        <%= label_tag nil do %>
          <%= radio_button_tag "stream[cardable_type]", type, stream.cardable_type == type %>
          <%= type %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div>
    <%= f.label :date_from, "Date from" %>
    <%= f.date_field :date_from %>
  </div>

  <div>
    <%= f.label :date_to, "Date to" %>
    <%= f.date_field :date_to %>
  </div>

  <div>
    <%= f.label :tags, "Tags" %>
    <div class="tag-picker" data-controller="tags-picker dropdown" data-action="dropdown:select->tags-picker#onSelect" style="anchor-name: --tag-picker;">
      <%= f.hidden_field :tags, data: { tags_picker_target: "hidden" } %>
      <div class="pills" data-tags-picker-target="chips"></div>
      <input type="text" placeholder="Add tags…" autocomplete="off"
             data-tags-picker-target="input"
             data-dropdown-target="input"
             data-action="focus->dropdown#onFocus input->dropdown#onInput keydown->dropdown#onKeydown blur->dropdown#onBlur">
      <%= turbo_frame_tag "tag-suggestions",
            class: "dropdown-menu",
            popover: "manual",
            data: { dropdown_target: "frame" } %>
    </div>
  </div>

  <div>
    <%= f.label :sorted_by, "Sort" %>
    <%= f.select :sorted_by, [["Newest first", "newest"], ["Oldest first", "oldest"]], {} %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
