<h1>Streams</h1>

<% defaults, custom = @streams.partition(&:default?) %>

<div>
  <%= link_to cards_path, style: "color: var(--model-color-8)" do %>
    <i class="icon" style="--icon-mask: var(--icon-menu)" aria-hidden="true"></i>
    All Cards
  <% end %>
</div>

<% defaults.each do |stream| %>
  <div>
    <%= link_to stream_path(stream),
          style: stream.colour.present? ? "color: var(--model-color-#{stream.colour})" : nil do %>
      <% if stream.icon.present? %>
        <i class="icon" style="--icon-mask: var(--icon-<%= stream.icon %>)" aria-hidden="true"></i>
      <% end %>
      <%= stream.name %>
    <% end %>
  </div>
<% end %>

<% if custom.any? %>
  <% custom.each do |stream| %>
    <div>
      <%= link_to stream.name, stream_path(stream) %>
    </div>
  <% end %>
<% end %>

<p><%= link_to "New stream", new_stream_path,
      data: { turbo_frame: "modal", turbo_action: "advance", action: "dialog#open" } %></p>
