<%= form_with model: card, data: { controller: "card-form", action: "keydown->card-form#submitOnKeyboard" } do |f| %>
  <% if card.errors.any? %>
    <div style="color:red;">
      <ul>
        <% card.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= hidden_field_tag :cardable_type, Card.cardable_types.first.underscore, data: { card_form_target: "cardableTypeField" } %>
    <% Card.cardable_types.each do |type| %>
      <%= button_tag type, type: "button",
            data: { card_form_target: "cardTypeButton", action: "click->card-form#selectType",
                    value: type.underscore } %>
    <% end %>
  </div>

  <%= turbo_frame_tag "card_type_fields", data: { card_form_target: "fieldsFrame" } do %>
    <% (card.cardable || Task.new).form_fields.each do |field| %>
      <%= render "cards/fields/#{field}", card: card %>
    <% end %>
  <% end %>

  <div>
    <%= f.label :content %>
    <%= f.rich_text_area :content, autofocus: true,
          data: { action: "trix-change->card-form#detectTypeShortcut" } %>
  </div>

<div style="display: flex; justify-content: space-between; width: 100%; margin-top: 1rem;">
  <div>
    <%= f.submit "Save (⌘ + ⏎)" %>
  </div>
</div>
<% end %>
