<%= form_with model: card, data: { controller: "card-form", action: "keydown->card-form#submitOnKeyboard" } do |f| %>
  <% if card.errors.any? %>
    <div style="color:red;">
      <ul>
        <% card.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= hidden_field_tag :cardable_type, Card.cardable_types.first.underscore, data: { card_form_target: "cardableTypeField" } %>
    <% Card.cardable_types.each do |type| %>
      <%= button_tag type, type: "button",
            data: { card_form_target: "cardTypeButton", action: "click->card-form#selectType",
                    value: type.underscore, capabilities: Card.type_capabilities(type).to_json } %>
    <% end %>
  </div>

  <div data-card-form-target="datePicker" hidden>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>

  <div>
    <%= f.label :content %>
    <%= f.rich_text_area :content, autofocus: true,
          data: { action: "trix-change->card-form#detectTypeShortcut" } %>
  </div>

<div style="display: flex; justify-content: space-between; width: 100%; margin-top: 1rem;">
  <div data-controller="tag-input" data-card-form-target="tagPicker" style="display: none;">
    <!-- <%= f.label :tag_names, "Tags" %> -->
    <%= f.hidden_field :tag_names, data: { tag_input_target: "hidden" } %>
    <div class="tag-chips" data-tag-input-target="chips"></div>
    <input type="text" placeholder="Add tags…" autocomplete="off"
           data-tag-input-target="input"
           data-action="input->tag-input#onInput keydown->tag-input#onKeydown">
    <%= turbo_frame_tag "tag-suggestions", data: { tag_input_target: "suggestions" } %>
  </div>

  <div>
    <%= f.submit "Save (⌘ + ⏎)" %>
  </div>
</div>
<% end %>
