<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Digibujo" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Digibujo">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="dialog">
    <main class="main-content main-content--mobile">
      <%= yield %>
    </main>

    <nav class="tab-bar">
      <%= link_to "Streams", streams_path, class: "tab-bar-item #{'tab-bar-item--active' if controller_name == 'streams'}" %>
      <%= link_to "Cards", cards_path, class: "tab-bar-item #{'tab-bar-item--active' if controller_name == 'cards'}" %>
      <%= link_to "Calendar", calendar_path, class: "tab-bar-item #{'tab-bar-item--active' if controller_name == 'calendars'}" %>
    </nav>

    <dialog data-dialog-target="dialog" data-action="click->dialog#backdropClose turbo:submit-end->dialog#submitEnd">
      <%= turbo_frame_tag "modal" %>
    </dialog>
  </body>
</html>
